<div id="particles-js">
  <div class="header">
      <!-- <h1> -->
        <span class="site-title" style='white-space: nowrap;' ><b>{{site.username}}</b></span>
        <!-- <span class="site-description">{{site.user_title}}</span> -->
      <!-- </h1> -->
      <br>
      <div class="header-icons">
        <a aria-label="邮件" href="mailto:caitongbo@outlook.com" title="邮件"><i class="icon fa fa-envelope"></i></a>
        <!-- <a aria-label="微信" target="_blank" href="#"  title="微信"><i class="icon fa fa-wechat" aria-hidden="true"></i></a> -->
        <a class="social weixin" href="javascript:">
          <img class="qrcode"  src="{{ "/assets/img/wechat.jpg" | prepend: site.baseurl }}" alt="微信">
          <i class="icon fa fa-wechat" aria-hidden="true"></i>
        </a>
        
        <a aria-label="QQ" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=461892420&site=qq&menu=yes" title="QQ"><i class="icon fa fa-qq" aria-hidden="true"></i></a>
        <a aria-label="微博" target="_blank" href="https://weibo.com/caitongbo" title="微博"><i class="icon fa fa-weibo" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/caitongbo" title="Github"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <!-- <div class="header-links">
        <a class="link" href="#about" data-scroll>关于</a>
        <a class="link" href="#projects" data-scroll>项目</a>
      </div> -->
  </div>
  <!-- <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>
