<!-- <div class="user-details">
  <h1> 项目经验 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/smartcampus.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 智慧校园 </h3>
    <p>产品设计 数据库设计 后端开发 该系统旨在为老师和学生线上购买商品带来便利， 同时方便商户对商品进行管理。 前端设计采用JQuery和Bootstrap， 后端采用SSM框架。 搭建并维护了线上CentOS系统整合Nginx + Tomcat服务器环境。</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
